<div class="jumbotron">
    <h1>数据接口平台</h1>
    <p class="lead">为Web，App提供数据接口</p>
    <p><a href="/Help" class="btn btn-primary btn-lg">API 查询</a></p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>商品管理</h2>
       
        <p><a class="btn btn-default" href="/Products/Index">点击进入 &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>订单管理</h2>
      
        <p><a class="btn btn-default" href="/Orders/Index">点击进入 &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>用户管理</h2>
        <p><a class="btn btn-default" href="/Users/Index">点击进入 &raquo;</a></p>
      
    </div>
    <div class="col-md-3">
        <h2>统计报表</h2>

        <p><a class="btn btn-default" href="/Repotrts/Index">点击进入 &raquo;</a></p>
    </div>
</div>
