@model IEnumerable<BaseData.Model.Account>

@{
    ViewBag.Title = "注册用户信息";
}

<div>
    <ol class="breadcrumb">
        <li><a href="~/Users/Index">系统用户管理</a></li>
        <li><a href="~/Accounts/Index">注册用户管理</a></li>
        <li><a href="~/DeliveryMen/Index">配送员管理</a></li>
    </ol>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-10">
                        @using (Ajax.BeginForm("Index", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "tables", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" }, { "class", "bs-example bs-example-form" }, { "role", "form" } }))
                        {
                            <div class="row">
                                <div class="col-lg-5 col-md-7">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="key" id="key" placeholder="查询条件: 账号,Email">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>

                                        </span>

                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <div id="tables">
                    @Html.Partial("_AccountSearchGet", Model)
                </div>
            </div>
        </div>
    </div>
</div>

