<div>
    <ol class="breadcrumb">
        <li><a href="~/ProductsStores/Index">商品库存信息</a></li>
        <li><a href="~/Products/Index">商品基础信息</a></li>
        <li><a href="~/InRecords/Index">进货管理</a></li>
        <li><a href="~/BreakRecords/Index">货损管理</a></li>
    </ol>
</div>
