<div>
    <ol class="breadcrumb">
        <li><a href="~/Users/Index">系统用户管理</a></li>
        <li><a href="~/Accounts/Index">注册用户管理</a></li>
        <li><a href="~/DeliveryMen/Index">配送员管理</a></li>
    </ol>
</div>