@model IEnumerable<BaseData.Model.Order>
@{
    ViewBag.Title = "订单管理";
}
<div>
    <ol class="breadcrumb">
        <li><a href="../Orders/Index">订单管理</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-10">
                        @using (Ajax.BeginForm("Index", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "tables", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" }, { "class", "bs-example bs-example-form" }, { "role", "form" } }))
                        {
                            <div class="row">
                                <div class="col-lg-5 col-md-7">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="key" id="key" placeholder="查询条件：条码,经办人">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @*<div class=" col-md-1 pull-right">
                        <a href="#" data-toggle="modal" data-backdrop="static" data-target="#myModal" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> 新建</a>
                    </div>*@
                </div>

            </div>
            <div class="panel-body">
                <div id="tables">
                    @Html.Partial("_OrdersSearchGet", Model)
                </div>
            </div>
        </div>
    </div>
</div>



