@model IEnumerable<BaseData.Model.Order>
@{
    ViewBag.Title = "订单管理";
}
<div>
    <ol class="breadcrumb">
        <li><a href="../Orders/Index">订单管理</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-10">
                        @using (Ajax.BeginForm("Index", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "tables", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" }, { "class", "bs-example bs-example-form" }, { "role", "form" } }))
                        {
                        <div class="row">
                            <div class="col-lg-5 col-md-7">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="key" id="key" placeholder="查询条件：条码,经办人">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
    
                </div>

            </div>
            <div class="panel-body">
                <div id="tables">
                    @Html.Partial("_OrdersSearchGet", Model)
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">订单明细</h4>
            </div>
            <div class="modal-body">
              <ul>
                  <li><label>订单编号</label></li>
                  <li><label></label></li>
                  <li><label></label></li>
              </ul>
            </div>

            <div class="modal-footer">
                <div class="alert alert-danger" style="display:none" id="errmsg">输出数据不合法，请检查重新输入！</div>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span style="cursor:pointer" class="glyphicon glyphicon-remove"></span>关闭</button>
                <button id="save" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span> 提交
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });

    </script>
}


