@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using BaseData.Web.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "O2O 基础数据API帮助";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">

    <h1><a href="~/ApiTest.html" target="_blank">API测试</a></h1>
    <section class="featured">
        <div class="content-wrapper">
            <h2>介绍</h2>
            <p>
                为其他平台提供基础数据查询接口
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
