@using Webdiyer.WebControls.Mvc;
@model Webdiyer.WebControls.Mvc.PagedList<BaseData.Model.User>

<table class="table table-striped">
    <tr>
        <th>
            序号
        </th>
        <th>
            设备编号
        </th>
        <th>
            设备名称
        </th>
        <th>
            点位信息
        </th>
        <th>
            操作
        </th>
    </tr>
 
</table>
<hr />
<div style="padding-top:5px; width:100%">
    <div style="float:left">共 @Model.TotalPageCount 页 @Model.TotalItemCount 条记录，当前为第 @Model.CurrentPageIndex 页</div>
    @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "id", ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false }, new MvcAjaxOptions { UpdateTargetId = "staequipment", DataFormId = "searchForm" }, new { style = "float:right" })
</div>
